<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:block="title">Vytvoření hasičského vozidla</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
    </style>
    <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /* {% block javascript %} */
        $(document).ready(function() {
            var numOptions = $('#department option').length;
            if (numOptions <= 5) {
                $('#department').attr('size', numOptions);
            } else {
                $('#department').attr('size', 5);
            }
        });
    </script>
</head>
<body>
    <header>
        <nav class="main_nav">
            <!-- {% block headerNav %} -->
            <ul>
                <li><a href="/">Domů</a></li>
                <li><a href="/department">Jednotky</a></li>
                <li><a href="/firefighter">Hasiči</a></li>
                <li><a href="/dispatch">Výjezdy</a></li>
                <li><a href="/firetruck">Hasičská auta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- {% block main %} -->
        <h1>Vytvoření hasičského vozidla</h1>
        <form action="/firetruck/create" method="post" th:object="${firetruck}">
            <label for="name">Jméno:</label>
            <input type="text" id="name" name="name" pattern="[0-9\p{L}\s]+" minlength="3" maxlength="50"><br>

            <label for="type">Typ:</label>
            <select id="type" name="type" required>
                <option value="DA">DA</option>
                <option value="CISTERNA">CISTERNA</option>
                <option value="OSOBNI">OSOBNI</option>
            </select><br>

            <label for="department">Jendotka:</label>
            <select id="department" name="departmentId" required>
                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
            </select><br>

            <input type="submit" class="main_b button" value="Vytvořit">
        </form>
    </main>
</body>
</html>
