<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail hasičského auta: [[${firetruck.id}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
        body {
            margin: 0;
            padding: 0;
        }
        div.details {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
            padding: 20px;
        }
        section {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
    <script th:inline="javascript">
        /* {% block javascript %} */
    </script>
</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/department">Jednotky</a></li>
            <li><a href="/firefighter">Hasiči</a></li>
            <li><a href="/dispatch">Výjezdy</a></li>
            <li><a href="/firetruck">Hasičská auta</a></li>
        </ul>
    </nav>
</header>

<main>
    <nav class="actions">
        <ul>
            <li><a th:href="@{/firetruck/{id}/edit(id=${firetruck.id})}" class="main_b button">Upravit</a></li>
            <li>
                <form id="deleteForm" th:action="@{/firetruck/{id}(id=${firetruck.id})}" method="post">
                    <label>
                        <input th:type="submit" th:value="Smazat" class="main_b button"
                               th:data-confirm-delete="|Jsi si jistý že chceš smazat hasičské auto ${firetruck.id}|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </label>
                </form>
            </li>
        </ul>
    </nav>

    <div class="details">
        <!-- Detail hasiče -->
        <section style="grid-column: 1 / span 1; grid-row: 1 / span 1;">
            <h2>detail</h2>
            <ul>
                <li>jméno: [[${firetruck.name}]]</li>
                <li>typ: [[${firetruck.type}]]</li>
                <li>jednotka: <a th:href="@{/department/{id}(id=${firetruck.department.id})}" th:text="${firetruck.department.name}"></a></li>
            </ul>
        </section>
    </div>
</main>
</body>
</html>
