<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:block="title">Úprava výjezdu: [[${dispatch.id}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
    </style>
    <script th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /* {% block javascript %} */
        $(document).ready(function() {
            const dateTimeInput = document.getElementById('dispatchStart');

            dateTimeInput.addEventListener('input', function() {
                const enteredDateTime = new Date(dateTimeInput.value);
                const currentDateTime = new Date();

                if (enteredDateTime > currentDateTime) {
                    dateTimeInput.value = '';
                    alert('Prosím, vyberte čas před aktuálním časem.');
                }
            });

            var numOptions = $('#departments option').length;
            if (numOptions <= 5) {
                $('#departments').attr('size', numOptions);
            } else {
                $('#departments').attr('size', 5);
            }
        });
    </script>
</head>
<body>
    <header>
        <nav class="main_nav">
            <!-- {% block headerNav %} -->
            <ul>
                <li><a href="/">Domů</a></li>
                <li><a href="/department">Jednotky</a></li>
                <li><a href="/firefighter">Hasiči</a></li>
                <li><a href="/dispatch">Výjezdy</a></li>
                <li><a href="/firetruck">Hasičská auta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- {% block main %} -->
        <h1>Úprava výjezdu: [[${dispatch.id}]]</h1>
        <form action="#" method="post">
            <label for="dangerLevel">Úroveň nebezpečí:</label>
            <input type="number" id="dangerLevel" name="dangerLevel" th:value="${dispatch.dangerLevel}" min="1" max="5"><br>

            <label for="type">Typ:</label>
            <input type="text" id="type" name="type" th:field="${dispatch.type}" th:value="${dispatch.type}" minlength="3" maxlength="50" required><br>

            <label for="start">Začátek:</label>
            <input type="datetime-local" id="start" name="start" th:value="${dispatch.start}" required><br>

<!--            <label for="departments">Vyberte jednotky:</label>-->
<!--            <select id="departments" name="departments" multiple required>-->
<!--                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>-->
<!--            </select><br>-->

            <input type="submit" class="main_b button" value="Upravit">
        </form>
    </main>
</body>
</html>
