<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail hasiče: [[${firefighter.name}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
</head>
<body>
    <header>
        <nav class="main_nav">
            <ul>
                <li><a href="/">Domů</a></li>
                <li><a href="/department">Jednotky</a></li>
                <li><a href="/firefighter">Hasiči</a></li>
                <li><a href="/dispatch">Výjezdy</a></li>
                <li><a href="/firetruck">Hasičská auta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 th:text="'Výběr výjezdů: ' + ${firefighter.name}"></h1>
        <form action="#" method="post" th:object="${firefighter}">
            <div th:each="dispatch : ${dispatches}">
                <label>
<!--                    <input type="checkbox" name="dispatchIds" th:value="${dispatch.id}">-->
                    <input type="checkbox" name="dispatchIds" th:value="${dispatch.id}" th:checked="${firefighter.dispatchIds.contains(dispatch.id)}">
                    <a th:href="@{/dispatch/{id}(id=${dispatch.id})}" target="_blank" th:text="${dispatch.type}"></a> ([[${dispatch.printStart()}]])
                </label>
            </div>
            <button type="submit" class="main_b button">Potvrdit výběr</button>
        </form>
    </main>
</body>
</html>
