<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail hasiče: [[${firefighter.name}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
        body {
            margin: 0;
            padding: 0;
        }
        div.details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 20px;
            padding: 20px;
        }
        section {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
    <script th:inline="javascript">
        /* {% block javascript %} */
    </script>
</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/department">Jednotky</a></li>
            <li><a href="/firefighter">Hasiči</a></li>
            <li><a href="/dispatch">Výjezdy</a></li>
            <li><a href="/firetruck">Hasičská auta</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>[[${firefighter.name}]]</h1>
    <nav class="actions">
        <ul>
            <li><a th:href="@{/firefighter/{id}/edit(id=${firefighter.id})}" class="main_b button">Upravit</a></li>
            <li>
                <form id="deleteForm" th:action="@{/firefighter/{id}(id=${firefighter.id})}" method="post">
                    <label>
                        <input th:type="submit" th:value="Smazat" class="main_b button"
                               th:data-confirm-delete="|Jsi si jistý že chceš smazat hasiče ${firefighter.name}|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </label>
                </form>
            </li>
        </ul>
    </nav>

    <div class="details">
        <!-- Detail hasiče -->
        <section style="grid-column: 1 / span 1; grid-row: 1 / span 1;">
            <h2>detail</h2>
            <ul>
                <li>jednotka: <a th:href="@{/department/{id}(id=${firefighter.department.id})}" th:text="${firefighter.department.name}"></a></li>
                <li th:text="'datum narození: ' + ${firefighter.printBirthDate()}"></li>
                <li>tel.: [[${firefighter.phoneNumber}]]</li>
            </ul>
        </section>

        <!-- výjezdy -->
        <section style="grid-column: 2 / span 1; grid-row: 1 / span 1;">
            <h2>výjezdy</h2>
            <ul>
                <li th:each="dispatch : ${firefighter.dispatches}">
                    <a th:href="@{/dispatch/{id}(id=${dispatch.id})}" th:text="${dispatch.type}"></a> ([[${dispatch.printStart()}]])
                </li>
            </ul>
            <a th:href="@{/firefighter/{id}/attend(id=${firefighter.id})}" class="main_b button">vybrat výjezdy</a>
        </section>
    </div>
</main>
</body>
</html>
