<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seznam hasičů</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
    </style>
    <script th:inline="javascript">
        /* {% block javascript %} */
    </script>
</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/department">Jednotky</a></li>
            <li><a href="/dispatch">Výjezdy</a></li>
            <li><a href="/firetruck">Hasičská auta</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Seznam hasičů</h1>
    <table class="main_table">
        <thead>
        <th>jméno</th>
        <th>jednotka</th>
        <th>datum narození</th>
        <th>tel. číslo</th>
        </thead>
        <tbody>
        <tr th:each="firefighter : ${firefighters}">
            <td>
                <nav class="more">
                    <a th:href="@{/firefighter/{id}(id=${firefighter.id})}" th:text="${firefighter.name}"></a>
                </nav>
            </td>
            <td><a th:href="@{/department/{id}(id=${firefighter.department.id})}" th:text="${firefighter.department.name}"></a></td>
            <td th:text="${firefighter.printBirthDate()}"></td>
            <td th:text="${firefighter.phoneNumber}"></td>
        </tr>
        <tr>
            <td class="last_row" colspan="4">
                <a th:href="@{/firefighter/create}" class="main_b button">nový hasič</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
