<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:block="title">Default Title</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
    </style>
    <script th:inline="javascript">
        /* {% block javascript %} */
    </script>
</head>
<body>
    <header>
        <nav class="main_nav">
            <!-- {% block header %} -->
            <div th:replace="fragments/header :: header"></div>
        </nav>
    </header>

    <main>
        <!-- {% block main %} -->
        <div th:replace="fragments/main :: main"></div>
    </main>
</body>
</html>
