:root {
    --header_text_col: #eeeeee;

    --header_bg_col: #f52b00;
    --header_bg_col_darker: #c42200; /* 20% darker */
    --header_bg_col_dark: #931a00; /* 40% darker */

    --main_text_col: #2f2f2f;

    --main_bg_col_light: #fdfbf9; /* 60% lighter */
    --main_bg_col: #fbf6ef;
    --main_bg_col_darker: #f1e0c8; /* 10% darker */
    --main_bg_col_dark: #e7caa1; /* 20% darker */
}

/* region general */

* {
    font-size: 1.2rem;
    color: var(--main_text_col);
}

body {
    background-color: var(--main_bg_col);
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: var(--header_bg_col);
    text-align: center;
    padding: 0.8rem;
}

main {
    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

/* endregion */

/* region main_nav class */

.main_nav ul {
    padding: 0;
}

.main_nav ul li {
    display: inline;
    margin-right: 1rem;
}

.main_nav ul li a {
    border-radius: 0.5rem;
    border-width: 0.15rem;
    text-decoration: none;
    background-color: var(--header_bg_col_darker);
    color: var(--header_text_col);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-style: solid;
    border-color: var(--header_bg_col);
}

.main_nav ul li a:hover {
    background-color: var(--header_bg_col_dark);
    border-color: var(--header_text_col);
}

/* endregion */

/* region ul */

ul {
    padding: 0.4em;
}


ul li {
    padding: 0.1em;
    margin-left: 1em;
    list-style: none;
}

/* endregion */

/* region email and phone styling */

.email:before {
    content: "📧:";
    display: inline-block;
    margin-right: 0.5rem;
}

.tel:before {
    content: "📞:";
    display: inline-block;
    margin-right: 0.5rem;
}

/* endregion */

/* region main_table class */

.main_table {
    border-collapse: collapse;
    width: 97%;
}

.main_table td, .main_table th {
    border: 1px solid;
    padding: 0.8rem;
}

.main_table tr:nth-child(even) {
    background-color: var(--main_bg_col_darker);
}

.main_table th {
    background-color: var(--main_bg_col_dark);
}

.main_table td.last_row {
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: var(--main_bg_col);
}

/* endregion */

/* region button class */

.button {
    font-size: 1.2rem;
    border-style: solid;
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-width: 0.15rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.main_b {
    background-color: var(--main_bg_col);
    border-color: var(--main_text_col);
    color: var(--main_text_col);
}


.main_b:hover {
    background-color: var(--main_bg_col_light);
}

.header_b {
    background-color: var(--header_bg_col);
    border-color: var(--header_text_col);
    color: var(--header_text_col);
}

.header_b:hover {
    background-color: var(--header_bg_col_dark);
}

/* endregion */

/* region Edit Form */

form {
    margin-top: 0.2rem;
    padding: 0.2rem
}

form dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.2rem;
    text-align: right;
}

form input:not([type="submit"]),
form select,
form textarea {
    box-sizing: border-box;
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
}

form #departments {
    overflow-y: auto;
}

form textarea {
    height: 10rem;
    resize: vertical;
}

form button[type="submit"] {
    display: block;
    margin: 0.2rem auto 0;
}

/* endregion */

/* region detail.html actions list */

.actions ul {
    display: flex;
    justify-content: flex-start; /* Aligns buttons to the left */
    list-style-type: none;
    padding: 0;
}
.actions ul li {
    margin-right: 1rem; /* Adjust the gap between buttons */
}
.actions ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}
.actions form {
    display: inline; /* Ensures the form is inline */
}

/* endregion */
