<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:block="title">Vytvoření jednotky</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
    </style>
</head>
<body>
    <header>
        <nav class="main_nav">
            <!-- {% block headerNav %} -->
            <ul>
                <li><a href="/">Domů</a></li>
                <li><a href="/department">Jednotky</a></li>
                <li><a href="/firefighter">Hasiči</a></li>
                <li><a href="/dispatch">Výjezdy</a></li>
                <li><a href="/firetruck">Hasičská auta</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- {% block main %} -->
        <h1>Vytvoření jednotky</h1>
        <form action="/department/create" method="post">
            <label for="name">Jméno:</label>
            <input type="text" id="name" name="name" pattern="[0-9\p{L}\s]+" minlength="3" maxlength="50" required><br>

            <label for="level">Úroveň:</label>
            <input type="number" id="level" name="level" min="1" max="5" required><br>

            <input type="submit" class="main_b button" value="Vytvořit">
        </form>
    </main>
</body>
</html>
