<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail jednotky: [[${department.name}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
        body {
            margin: 0;
            padding: 0;
        }
        div.details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;
        }
        section {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
    <script th:inline="javascript">
        /* {% block javascript %} */
    </script>
</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/department">Jednotky</a></li>
            <li><a href="/firefighter">Hasiči</a></li>
            <li><a href="/dispatch">Výjezdy</a></li>
            <li><a href="/firetruck">Hasičská auta</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>[[${department.name}]]</h1>
    <nav class="actions">
        <ul>
            <li><a th:href="@{/department/{id}/edit(id=${department.id})}" class="main_b button">Upravit</a></li>
            <li>
                <form id="deleteForm" th:action="@{/department/{id}(id=${department.id})}" method="post">
                    <label>
                        <input th:type="submit" th:value="Smazat" class="main_b button"
                               th:data-confirm-delete="|Jsi si jistý že chceš smazat jednotku ${department.name}|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </label>
                </form>
            </li>
        </ul>
    </nav>

    <div class="details">
        <!-- Detail jednotky -->
        <section style="grid-column: 1 / span 1; grid-row: 1 / span 1;">
            <h2>detail</h2>
            <ul>
                <li>úroveň: [[${department.level}]]</li>
            </ul>
        </section>

        <!-- vozidla -->
        <section style="grid-column: 2 / span 1; grid-row: 1 / span 1;">
            <h2>vozidla</h2>
            <ul>
                <li th:each="firetruck : ${department.firetrucks}">
                    <a th:href="@{/firetruck/{id}(id=${firetruck.id})}" th:if="${firetruck.name != null}" th:text="${firetruck.name}"></a>
                    <a th:href="@{/firetruck/{id}(id=${firetruck.id})}" th:unless="${firetruck.name != null}" th:text="${firetruck.id}"></a>
                </li>
            </ul>
        </section>

        <!-- členové -->
        <section style="grid-column: 1 / span 1; grid-row: 2 / span 1;">
            <h2>členové</h2>
            <ul>
                <li th:each="firefighter : ${department.firefighters}">
                    <a th:href="@{/firefighter/{id}(id=${firefighter.id})}" th:text="${firefighter.name}"></a>
                </li>
            </ul>
        </section>

        <!-- výjezdy -->
        <section style="grid-column: 2 / span 1; grid-row: 2 / span 1;">
            <h2>výjezdy</h2>
            <ul>
                <li th:each="dispatch : ${department.dispatches}">
                    <a th:href="@{/dispatch/{id}(id=${dispatch.id})}" th:text="${dispatch.type}"></a> ([[${dispatch.printStart()}]])
                </li>
            </ul>
        </section>
    </div>
</main>
</body>
</html>
